.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  height: 50px;
  display: flex;
  background-color: #dc3546;
  color: white;
  justify-content:space-between;
  line-height: 50px;
  padding-inline: 40px;
}

.nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  border: 0;
}

.nav-list li {
  margin-inline: 10px;
  list-style: none;
}

.nav-list li a {
  text-decoration: none;
  color: white;
}